.footer-main {
  display: flex;
  min-height: 15%;
  width: 100%;
  margin: 0px;
}

.footer-text {
  display: flex;
  justify-content: center;
  font-size: larger;
}

.footer-bg {
  background-color: var(--primary-color);
}

.contact-icon {
  mix-blend-mode: darken;
  width: 7%;
  aspect-ratio: 2/2;
  padding-right: 1%;
  padding-left: 1%;
}

.contact-box {
  display: flex;
  padding: 1%;
  align-items: center;
  justify-content: flex-start;
}

.social-logo-image {
  mix-blend-mode: darken;
  width: 7%;
  aspect-ratio: 3/2;
  object-fit: contain;
  padding-right: 1%;
}

.social-logo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.designer-message {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}
