.create-post{
    padding: 5%;
}

.editor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.button-design{
    display: flex;
    justify-content: center;
    padding: 1%;
}

.jodit-status-bar__item{
    display: none;
}

.label{
    font-weight: 500;
    padding-bottom: 3px;
}

.input-text{
    border: none;
    font-size: medium;
    border-radius: 2px;
    width: 100%;
    margin-bottom: 1%;
    padding: 0.5%;
}

.input-text:focus{
    border: none;
}

.post-button{
    padding: 0.5%;
    font-weight: 600;
    font-size: medium;
    background-color: var(--success-button);
    border: none;
}
