@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: antiquewhite;
    --secondary-color: #000;
    --tertiary-color: #ff0;
    --primary-bg-color: hsl(40, 100%, 44%);
    --primary-button-color: #62c6ed;
    --secondary-button-color: rgb(231, 235, 116);
    --success-button: rgb(65, 228, 84);
    --post-bg-color: rgb(252, 249, 231);
  }
  .dark {
    --primary-color: antiquewhite;
    --secondary-color: #000;
    --tertiary-color: #ff0;
    --primary-bg-color: hsl(40, 100%, 44%);
    --primary-button-color: #62c6ed;
    --secondary-button-color: rgb(231, 235, 116);
    --success-button: rgb(65, 228, 84);
    --post-bg-color: rgb(252, 249, 231);
  }
}

.App {
  background-color: none;
  height: 100%;
  width: 100%;
}
/* Footer  */
.footer-main {
  display: flex;
  min-height: 15%;
  width: 100%;
  margin: 0px;
}

.footer-text {
  display: flex;
  justify-content: center;
  font-size: larger;
}

.footer-bg {
  background-color: var(--primary-color);
  height: auto !important;
}

.contact-icon {
  mix-blend-mode: darken;
  width: 7%;
  aspect-ratio: 2/2;
  padding-right: 1%;
  padding-left: 1%;
}

.contact-box {
  display: flex;
  padding: 1%;
  align-items: center;
  justify-content: flex-start;
}

.social-logo-image {
  mix-blend-mode: darken;
  width: 7%;
  aspect-ratio: 3/2;
  object-fit: contain;
  padding-right: 1%;
}

.social-logo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.designer-message {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

.create-post-heading{
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 1%;
  font-weight: 700;
}


/* Display Blog */
.blog-class-main{
  margin: 10%;
  background-color: var(--post-bg-color);
  padding: 2%;
}

.display-blog-expanded{
  
}

.display-blog-collapsed{
  height: 30%;
  overflow: hidden;
}

.show-more-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: medium;
}

/* mainpage */

.application-base {
  background-color: var(--primary-bg-color);
}

.body-data {
  min-height: 100%;
}


/* Header */

.header-parent {
  height: 15%;
  background-color: var(--primary-color);
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.page-header-logo {
  height: 100%;
  display: flex;
  float: left;
  padding-left: 1%;
}

.page-header-text {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: xx-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
}

/* Create Blog Post */
.create-post{
  padding: 5%;
}

.editor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.button-design{
  display: flex;
  justify-content: center;
  padding: 1%;
}

.jodit-status-bar__item{
  display: none;
}

.label{
  font-weight: 500;
  padding-bottom: 3px;
}

.input-text{
  border: none;
  font-size: medium;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 1%;
  padding: 0.5%;
}

.input-text:focus{
  border: none;
}

.post-button{
  padding: 0.5%;
  font-weight: 600;
  font-size: medium;
  background-color: var(--success-button);
  border: none;
}
